<!-- Footer -->
<footer class="py-5 px-3 text-center">
    <p class="mb-3">ChatJurídico, todos os direitos reservados feitos com <i class="bi bi-heart-fill text-primary"></i>
        pelos
        criadores do Calculo Jurídico</p>
    <p class="mb-2">
        <a href="/termos-e-condicoes/" class="text-muted text-decoration-none">Termos de Uso</a>
        <span class="mx-2">|</span>
        <a href="/politica-de-privacidade/" class="text-muted text-decoration-none">Política de Privacidade</a>
    </p>
    <p class="mb-0 mt-4 small text-muted">
        CNPJ: 57.682.014/0001-50<br>
        Av Pref Osmar Cunha, 416 - Sala 1108<br>
        Florianópolis/SC<br>
        <a href="mailto:suporte@chatjuridico.com.br" class="text-muted">suporte@chatjuridico.com.br</a>
    </p>
</footer>